/*
HAZL
SoftDev
p00
2024-10-
time spent: 
 */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20vw;
    background-color: lightcoral;
    color: white;
}

.head {
    text-align: center;
}

.containingDiv {
    display: flex;
    align-items: flex-start;
    margin-top: 2em;
    gap: 2em;
}

.instructions {
    background-color: lightcyan;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 35vw;    
    margin-left: 3vw;
    h3 {
        padding-left: 1em;
    }
}

.enterStory {
    display: flex;
    width: 60vw;
    flex-direction: column;
    .title {
        background-color: lightgoldenrodyellow;
        width: 54.5vw;
        height: 2vw;
    }
    .text {
        padding-bottom: 8.5em;
        background-color: lightgoldenrodyellow;
        width: 55vw;
        height: 20vh;
        box-sizing: border-box;
    }
}

body {
    }
