/*
HAZL
SoftDev
p00
2024-10-
time spent: 
 */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20vw;
}

body {

}

.signup {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5em;
    margin-bottom: 5em;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5em;
    margin-bottom: 5em;
}
