/*
HAZL
SoftDev
p00
2024-10-
time spent: 
 */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20vw;
    background-color: lightcoral;
    color: white;
}

body {
    h1 {
        text-align: center;
    }
    }
