<!DOCTYPE html>
<html>
<!-- 
HAZL
SoftDev
p00
2024-10-
time spent: 
-->

<head>
    <link rel="stylesheet" href="../static/login.css">
</head>

<body>
    <header>
        <div><h1>HAZL</h1></div>
        <div><h1>{{ projectName }}</h1></div>
        <div>
            <button>Login</button>
            <button>Logout</button>
        </div>
    </header>
    <div class="signup">
        <h1>Sign Up</h1>
        <input placeholder="Make a Username"></input>
        <input placeholder="Make a Password"></input>
        <button>Sign Up</button>
    </div>
    <div class="login">
        <h1>Log In</h1>
        <form action="/response.html">
        <input type="text" name="username">
        <input type="text" name="password">
        <input type="submit" name="sub1">
        </form>
        <button>Log In</button>
    </div>
</body>

</html>
