<!DOCTYPE html>
<html>
<!-- 
HAZL
SoftDev
p00
2024-10-
time spent: 
-->

<head>
    <link rel="stylesheet" href="../static/login.css">
</head>

<body>
    <header>
        <div><h1>HAZL</h1></div>
        <div><h1>{{ projectName }}</h1></div>
        <div>
            <form action="/">
                <input type="submit" value="Home">
            </form>
        </div>
    </header>
        <div class="signup">
        <h1>Sign Up</h1>
        <form action="/response" method="POST">
            <input type="text" name="username" placeholder="Make a Username">
            <input type="text" name="password" placeholder="Make a Password">
            <input type="submit" value="Sign Up">
        </form>
    </div>
    <div class="login">
        <h1>Log In</h1>
        <form action="/response" method="POST">
            <input type="text" name="usernameL" placeholder="Username">
            <input type="text" name="passwordL" placeholder="Password">
            <input type="submit" value="Login">
        </form>
    </div>

    <footer>
        <p>Copyright @2024 HAZL</p>
    </footer>
</body>

</html>
