<!DOCTYPE html>
<html>
<!-- 
HAZL
SoftDev
p00
2024-10-
time spent: 
-->

<head>
    <link rel="stylesheet" href="../static/newStories.css">
</head>

<body>
    <header>
        <div><h1>HAZL</h1></div>
        <div><h1>{{ projectName }}</h1></div>
        <div>
            <form action="/login">
                <input type="submit" value="Login">
            </form>
            <form action="/logout">
                <input type="submit" value="Logout">
            </form>
        </div>
    </header>

    {% for stories in allStories %}
        <div>
            <h3>New Stories!</h3>
            {% if stories.id >= totalID - 2}
                <div>
                    <h1>{{ stories.title }}</h1>
                    <p>{{ stories.description }}</p>
                    <form action="/storyTemplate">
                        <input type="submit" value="Login">
                    </form>
                </div>
            <div>
        </div>
        <h1>All Stories</h1>
        {% else %}
            <div>
                <h1>{{ stories.title }}</h1>
                <p>{{ stories.description }}</p>
            </div>
        </div>
        {% endif %}
    {% endfor %}

    <footer>
        <p>Copyright @2024 HAZL</p>    
    </footer>
</body>

</html>
