<!DOCTYPE html>
<html>
<!-- 
HAZL
SoftDev
p00
2024-10-
time spent: 
-->

<head>
    <link rel="stylesheet" href="../static/storyTemplate.css">
</head>

<body>
    <header>
        <div>
            <h1>HAZL</h1>
        </div>
        <div>
            <h1>{{ projectName }}</h1>
        </div>
        <div>
            <form action="/">
                <input type="submit" value="Home">
            </form>
            <form action="/logout">
                <input type="submit" value="Logout">
            </form>
        </div>
    </header>
    <h1>Title: {{ title }}</h1>
    {% for row in storyText %}
        <div>
            <p>User: {{ row[0] }}</p>
            <p>Text: {{ row[2] }}</p>
        </div>
    {% endfor %}
    
    <div class="edit">
    {% if isLoggedIn %}
        <form action="/newStories">
            <input type="submit" value="Submit Edits">
        </form>
    </div>
    <div class="noEdit">
    {% else %}
        <h1>Login Before Editing!</h1>
        <form action="/login">
            <input type="submit" value="Login">
        </form>
    </div>
    {% endif %}

    <footer>
        <p>Copyright @2024 HAZL</p>
    </footer>
</body>

</html>
